# Salesforce / SFDX / CCI
.cci
.sfdx
.sf
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/cci-ci-demo/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store

# Node
/node_modules